main>.container {
    padding: 30px 0;
}

strong{
    font-size: larger;
    color: pink;
}

strong:hover{
    color: white;
}

.nav-link{
    color: white;
}

.btn{
    background-color: pink;
    padding: black;
}

.btn:hover{
background-color: white;
}

.navbar-toggler{
    background-color: pink;
}

.card-link{
    text-decoration: none;
    color: black;
    font-style: bold;
}

.card-link:hover{
    color: pink;
}

a{
    text-decoration: none;
}

